<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Bluetooth (scan/connect/advertise) -->
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>EcoBlock nécessite le Bluetooth pour découvrir, connecter et relayer les données entre les nœuds du réseau local.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>EcoBlock utilise le Bluetooth pour interagir avec d'autres appareils autour de vous.</string>
	<key>NSBluetoothAlwaysAndWhenInUseUsageDescription</key>
	<string>EcoBlock utilise le Bluetooth en arrière-plan pour relayer et recevoir les données du réseau maillé.</string>

	<!-- Localisation (obligatoire sur iOS pour le scan BLE) -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>EcoBlock requiert l'accès à votre localisation pour activer le Bluetooth et détecter les appareils à proximité.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>EcoBlock utilise la localisation pour fonctionner en arrière-plan et relayer les données du réseau.</string>

	<!-- Pour background mode BLE -->
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>location</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Ecoblock Mobile</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ecoblock_mobile</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
